/*基本色调*/
/*Background Color*/
/*Border Color*/
/*Text Color*/
/*Text size*/
/*label color*/
/*button color*/
/*三角形*/
/*边框三角形*/
/*圆角*/
/*圆角*/
/*线性渐变*/
/*不折行*/
/*分栏*/
/*渐变*/
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}
#copyright {
  text-align: center;
  padding: 10px 0 15px;
  margin-top: 20px;
  color: #ccc;
}
