/*基本色调*/
/*Background Color*/
/*Border Color*/
/*Text Color*/
/*Text size*/
/*label color*/
/*button color*/
/*三角形*/
/*边框三角形*/
/*圆角*/
/*圆角*/
/*线性渐变*/
/*不折行*/
/*分栏*/
/*渐变*/
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}
.nav {
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  padding: 0 9.6875%;
  max-width: 640px;
  /*圣诞节*/
}
.nav:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}
.nav > li {
  width: 33.33333333%;
  height: 50px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 5px;
  float: left;
}
.nav > li > a {
  display: block;
}
.nav > li label {
  color: #94979e;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  display: block;
}
.nav > li.active label,
.nav > li:active label,
.nav > li:focus label {
  color: #ea0079;
}
.nav .icon {
  -webki-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 100%;
  height: 22px;
}
.nav .mall .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAZlBMVEUAAACUl56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Vusv/AAAAIXRSTlMAJ/D5BBi4rfMK6xCzSCHk29TEk4V1aFs8MxrLn06sQozcIimHAAABDklEQVQ4y+3Ty5KCMBQE0DyAPARUBEREnf7/n5xUKmOmTEyynRrvCoqzSLovJDbV6VSRwtk1QLMrs/0RZo59iV00+DwBesnbM4d+ENIx8HPOjj8HoAdgTFJ1B1rlr3lX7+16BcbKBwhc63f2sn8558yxv8TtTfpPPhl5i9kJGNZY5lPY8AZsKnLlFtheuq8HYIrvyQgMz+5dqKxL1HSg/rVj9jWRkn74hOySJfPn8zN7ZNZXAfiqbKscIJkB7B50XC8l2FTWmNv1pAQTOtgMyrCZ/4epYLDDBM1haqnjNIMFmtqteAORwQzGOg0ZiPDRP3/wH8G+4wCHzQu0dQqvLUR0L+PD6O+Nlykq3X/wDZ/gLB0kEJAoAAAAAElFTkSuQmCC);
}
.nav .mall.active .icon,
.nav .mall:active .icon,
.nav .mall:focus .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAgVBMVEUAAADDRYrlCXvVJYLXIYHqAHnqAHm/S4vkC3zbGoDQLYTPMIXGP4nFQYnCRorBSYvASoviDnzgE33eFn7ZHYDVJYLqAHnqAHnMNIbHPojERIrDRIrCR4vqAHm/S4vSKYPSK4PLN4bJOYfJO4fIO4jHPYjGQInBSIvASYvqAHnmB3uWq6scAAAAKXRSTlMASP7l61INBv300cd7aTwdFfz6+PDk2ti3hFlPMBAM3NiqoZiXiHQmI1WIKxgAAADXSURBVDjL7dTHEoJAEEXRgSGKIOYEmMPr//9AKUCChOmtpXfZdTYz1dWiK3s0sgWziQEYE54N5kibBxzrO8hyfLW9EIroqrIeanmDNFyi0TLst5GLj9yoz+6maDXdddsboSPadtkNetq0aHJAb8ekaR8LDLR41u1+hsFmWmXHOhTp97c9gdG5WF6w8uxseYmnZSjG5PgcuiUY6esCwcFi72ZfwsNpf/wleGValrni4XUs0uI1C5v50GRhKx9aDFyNfxXrakwllmosS6ypb50mKi1piJLM7Qtj88RRWW5aeAAAAABJRU5ErkJggg==);
}
.nav .gift .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAsCAMAAAAdI2svAAAAV1BMVEUAAACUl56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul54EpKdlAAAAHHRSTlMAC9HxENf3UhqzJePYestvYyFruK1AOMC8hFPKAND60wAAAUxJREFUSMft1stygzAMBVDJD/AjJLwDyf3/72wpISVqa7zrJtpwNcyZAdlmIAq9xmHpPtCuwkqO2V716NyaAKK/kuvQ75CGo2NEDnqHgNz0Rv+LyjWU6SSQNcvV2HQSCKeSuTxBqVQSSOGrlHOpJBBfzkVxvjBRKglEWfVGn2VaHwHrW5ONuNJ4lK44DzUKmOrAHOoJUE0OchF22JrBIrpjxHdceddecedDVMGafW8sql+QmVVRqNmsjcb4OrAR2vxAN/0Y1G3pWkxyyhNaiW6AH5gHDyzKo5aohhfIaVTby2hHFNFI1CAKNMNv0WMmKsALeBYRMQqBFL7XBIpI56ACvIb1Jp0QDh5PIp05COA1t+jknQ5tEmUtrkSJbZRErOSGVUyk4VKIQoQd6VGjRVzG2cO7BFoPYVc3xKHuANVk/3zI406hz2Tx+WH5ANyBQaBH3UGhAAAAAElFTkSuQmCC);
}
.nav .gift.active .icon,
.nav .gift:active .icon,
.nav .gift:focus .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAsCAMAAAAdI2svAAAAUVBMVEUAAADqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHlcGgjUAAAAGnRSTlMADNhS8REjZ7q0D616QDgnBePAGdP5sl3KHJbxgvQAAAENSURBVEjH7dTdbsMgDAXg2CEQQn7brt3O+z/omBCDgkQ8aVJv6pscJ/qkBHC6TjuF01JOd1ltibTZliEHew0JiPfqdLVwGVLwpomCgsoQIE1v9G9oCoHaqUB9CH07FYiHn+vA7VQgcE/UM9qpQKJ6o1cgtmZISF5qJjkajd53bUbgpoWIl/gtC+P4EqELpRWgCz5JgHjqspoYswCtz5O7Qg2naCzHfYSpEe4L0WJjZ0pkYGs0h2czQukSaRwVsvGT76HffXw6Sjs+KpT2JPQkQRQRhX6TvF55lB8lesC2kHzJExJsbo2kx6hG9YG9+VadIvAab62MQ/ura6M0hLSlIdzU38fdKydkx++P5RtzVIC9+Z3FlgAAAABJRU5ErkJggg==);
}
.nav .mine .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAclBMVEUAAACUl56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul56Ul57wLc2aAAAAJXRSTlMABKW9+YtaJwnlyEo3Gu5COtjDn5x3MCIN9Kng0M+5soNpFG1WFNkR2wAAAXdJREFUOMullNduwzAMRWVJ3nslsdPM9vz/LxZFnDS16ahF75NIHFwQHFILhb2JrY1NHyqXwhMPnRz4u4UuzaMoTzuw769YH9rdPdi14K+zPXw8xx/Qr7GZJf2ZSbGZzHpvdPNcx5snwgHNMtkQiHDDZZm80EjsFTyhNrgKcImRPAylWLKWYE3wf3j8PZxylOAjqTQ/EglOyMTWFRJccJXSMaGw38RKUocvLW0nLx11NM9FNStrZzjPU2eMklUurKN6GrZorecTMWpN24L2OW4ptmpV5cDoPbZzZCjVC1UFp/v7RFE5PpmY/PbKiWdDkq52c3ttpltdVRQcaL5v8hBEq6apHiAJHxUlMOhUss/PMXC8/DjtIxCf83mHWwumzxcWvQHbbp9L9S2M1UrvR7D+o/hNDfrFqLYa6nuPCkymXiozDDc6QSun9HSh4LlhDyZY/UJ/hP9exp7KDVfsp2tPKs/hWyXTP7E7gFuHnbrR/h6H9v4X+wlazyiF9Zok7gAAAABJRU5ErkJggg==);
}
.nav .mine.active .icon,
.nav .mine:active .icon,
.nav .mine:focus .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAY1BMVEUAAADqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHnqAHk0oyy5AAAAIHRSTlMAWvrlNwi8h0Io9O734M+ejXFLMSEUDdjU0MjCtKZ8Gq/G87AAAAD2SURBVDjLvdLnrsIwDIZhZzSrk1L28v1f5dEJCEprp5EQvL8fWZ/awCx/NaqqlLl6WMqf8dl5ga8qHFWtUrbDSV3iLs5ib2s5x1IzeI9Ee9oKJBMkPtH4RNkNMm0I7DjsyMlM4qe453BPYM1h/emnA0VbBVQtjVsSa24ymaGsATrH/Ozs0wa4hnJqywHYXHi3wUEiXb7d1ZDMq5dVHtIVhxc+FGkqGhzViIKV/SXgpHDpKX+z3EOytwkdWolssh3GA7pIE7x7jlnvcLHd+mFLzCjc9RGzOkYs87CMGDP7Mq7zbB2xzcM24m2TY5st3LWtFzfYf/sHVReHakpHHbYAAAAASUVORK5CYII=);
}
