/*基本色调*/
/*Background Color*/
/*Border Color*/
/*Text Color*/
/*Text size*/
/*label color*/
/*button color*/
/*三角形*/
/*边框三角形*/
/*圆角*/
/*圆角*/
/*线性渐变*/
/*不折行*/
/*分栏*/
/*渐变*/
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(/static/images/tea/pc/bg.jpg) repeat 0 0;
  font-size: 0;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.qrcode-section {
  position: relative;
}
.qrcode {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.qrcode img {
  display: block;
  width: 15%;
  margin: 3.5% auto 0;
}
