/*基本色调*/
/*Background Color*/
/*Border Color*/
/*Text Color*/
/*Text size*/
/*label color*/
/*button color*/
/*三角形*/
/*边框三角形*/
/*圆角*/
/*圆角*/
/*线性渐变*/
/*不折行*/
/*分栏*/
/*渐变*/
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}
.addr-selector {
  max-height: 400px;
  overflow-y: auto;
}
.addr-selector li {
  color: #666666;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}
.addr-selector li:active,
.addr-selector li.selected {
  background-color: #eee;
  color: #313131;
}
